


<footer>
    <div id="contact" class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>This website is created at 17/6/2022.</p>
                    <p style="font-weight: bold;">Contact:</p>
                    <strong>Facebook:</strong><a href="https://www.facebook.com/love27capuchino/">N.H Tien Anh</a> <br>
                    <strong>Email:</strong><a href="mailto:tienanhcapuchino@japanese-software.engineer">tienanhcapuchino@japanese-software.engineer</a><br>
                    <strong>Phone number:</strong>03992xxxxx
                </div>
                <div class="col-md-6">
                    <img width="250px" height="250px" src="~/images/Logo_PRN211.png" alt="Logo">
                </div>
            </div>
        </div>
    </div>
</footer>