

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Hotel - TIEN ANH CAPUCHINO</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/images/Logo_PRN211.png" type="image/png" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
</head>
<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    @*<div class="loader_bg">
    <div class="loader"><img src="images/loading.gif" alt="#" /></div>
    </div>*@
    <!-- end loader -->
    <!-- header -->
    @await Html.PartialAsync("Header")
    <!-- end header inner -->
    <!-- end header -->
    <!-- banner -->
    <!-- end banner -->
    <!-- form_lebal -->
    @*<section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form class="form_book">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="date">Full name:</label>
                                <input class="book_n" name="para2" type="text" placeholder="your fullname" required>
                            </div>
                            <div class="col-md-2">
                                <label class="date">Phone number:</label>
                                <input class="book_n" name="para3" type="text" placeholder="your telephone" required>
                            </div>
                            <div class="col-md-2">
                                <label class="date">ARRIVAL DATE</label>
                                <input class="book_n" name="para4" type="date" required>
                            </div>
                            <div class="col-md-2">
                                <label class="date">DEPARTURE DATE</label>
                                <input class="book_n" name="para5" type="date" required>
                            </div>
                            <div class="col-md-2">
                                <label class="form-control-user">Number persons</label>
                                <select class="form-control-user" disabled name="para1">
                                    <option selected>1</option>
                                    <option>2</option>
                                    <option>4</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input type="submit" class="book_btn" value="Book Now" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>*@
    <!-- end form_lebal -->
    <!-- choose  section -->
    
    <div class="choose">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="choose_box">
                        <div class="titlepage">
                            <h2><span class="text_norlam">Choose The Perfect</span> <br>Accommodation</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</p>
                        <a class="read_more" href="#">See More</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="img_box">
                                <figure><img src="images/img1.jpg" alt="#" /></figure>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img_box">
                                <figure><img src="images/img2.jpg" alt="#" /></figure>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img_box">
                                <figure><img src="images/img3.jpg" alt="#" /></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end choose  section -->
    <!-- our  section -->
    <div class="our">
        <div class="container">
            <div class="row d_flex">
                <div class="col-md-6">
                    <div class="img_box">
                        <figure><img src="images/img4.jpg" alt="#" /></figure>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="our_box">
                        <div class="titlepage">
                            <h2><span class="text_norlam">Our Best </span> <br>Breakfast</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit </p>
                        <a class="read_more" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end our  section -->
    <!-- about -->
    <div id="about" class="about">
        <div class="container-fluid">
            <div class="row d_flex">
                <div class="col-md-6">
                    <div class="about_text">
                        <div class="titlepage">
                            <h2>About Our Hotel</h2>
                            <p>The hotel was established in 2022 based on the project of the subject PRN211. The hotel is operated by only 1 member. However, the service quality is still among the top in Vietnam. The number of rooms is constantly updated to meet your needs. Room quality is also upgraded over time. Enjoy the excellent service of our hotel. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about_img">
                        <figure><img src="images/about_img.jpg" alt="#" /></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end about -->
    <!-- testimonial -->
    <div class="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Testimonial</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container">
                                    <div class="carousel-caption ">
                                        <div class="row">
                                            <div class="col-md-6 margin_boot">
                                                <div class="test_box">
                                                    <h4>Mark jonson</h4>
                                                    <i><img src="images/te1.png" alt="#" /></i>
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="test_box">
                                                    <h4>Mac Du</h4>
                                                    <i><img src="images/te1.png" alt="#" /></i>
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <div class="row">
                                            <div class="col-md-6 margin_boot">
                                                <div class="test_box">
                                                    <h4>Mark jonson</h4>
                                                    <i><img src="images/te1.png" alt="#" /></i>
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="test_box">
                                                    <h4>Mac Du</h4>
                                                    <i><img src="images/te1.png" alt="#" /></i>
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <div class="row">
                                            <div class="col-md-6 margin_boot">
                                                <div class="test_box">
                                                    <h4>Mark jonson</h4>
                                                    <i><img src="images/te1.png" alt="#" /></i>
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="test_box">
                                                    <h4>Mac Du</h4>
                                                    <i><img src="images/te1.png" alt="#" /></i>
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("Footer")
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>

